
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Castle.Core.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Crc32.NET.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Application.Tests.deps.json
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Application.Tests.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Application.Tests.pdb
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Application.Tests.runtimeconfig.dev.json
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Application.Tests.runtimeconfig.json
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/EntityFramework.Testing.FakeItEasy.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/FakeItEasy.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Cookies.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Core.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.DataProtection.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.DataProtection.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.WebUtilities.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.ObjectPool.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.WebEncoders.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Net.Http.Headers.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Xml.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/testhost.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Z.EntityFramework.Extensions.EFCore.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Z.EntityFramework.Plus.EFCore.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/Z.Expressions.Eval.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/DAM.Application.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Application.deps.json
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Application.dll
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Application.pdb
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Persistence.dll
src/DAM.Application/bin/Debug/netcoreapp3.1/DAM.Persistence.pdb
src/DAM.Application/obj/DAM.Application.csproj.nuget.dgspec.json
src/DAM.Application/obj/DAM.Application.csproj.nuget.g.props
src/DAM.Application/obj/DAM.Application.csproj.nuget.g.targets
src/DAM.Application/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.AssemblyInfo.cs
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.AssemblyInfoInputs.cache
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.assets.cache
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.csproj.AssemblyReference.cache
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.csproj.CopyComplete
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.csproj.CoreCompileInputs.cache
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.csproj.FileListAbsolute.txt
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.dll
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.GeneratedMSBuildEditorConfig.editorconfig
src/DAM.Application/obj/Debug/netcoreapp3.1/DAM.Application.pdb
src/DAM.Application/obj/project.assets.json
src/DAM.Application/obj/project.nuget.cache
src/DAM.Common/bin/Debug/netcoreapp3.1/DAM.Common.deps.json
src/DAM.Common/bin/Debug/netcoreapp3.1/DAM.Common.dll
src/DAM.Common/bin/Debug/netcoreapp3.1/DAM.Common.pdb
src/DAM.Common/obj/DAM.Common.csproj.nuget.dgspec.json
src/DAM.Common/obj/DAM.Common.csproj.nuget.g.props
src/DAM.Common/obj/DAM.Common.csproj.nuget.g.targets
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.AssemblyInfo.cs
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.AssemblyInfoInputs.cache
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.assets.cache
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.csproj.AssemblyReference.cache
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.csproj.CoreCompileInputs.cache
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.csproj.FileListAbsolute.txt
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.dll
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.GeneratedMSBuildEditorConfig.editorconfig
src/DAM.Common/obj/Debug/netcoreapp3.1/DAM.Common.pdb
src/DAM.Common/obj/project.assets.json
src/DAM.Common/obj/project.nuget.cache
src/DAM.Domain/bin/Debug/netcoreapp3.1/DAM.Domain.deps.json
src/DAM.Domain/bin/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Domain/bin/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Domain/obj/DAM.Domain.csproj.nuget.dgspec.json
src/DAM.Domain/obj/DAM.Domain.csproj.nuget.g.props
src/DAM.Domain/obj/DAM.Domain.csproj.nuget.g.targets
src/DAM.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.AssemblyInfo.cs
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.AssemblyInfoInputs.cache
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.assets.cache
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.csproj.AssemblyReference.cache
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.csproj.CoreCompileInputs.cache
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.csproj.FileListAbsolute.txt
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.GeneratedMSBuildEditorConfig.editorconfig
src/DAM.Domain/obj/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Domain/obj/project.assets.json
src/DAM.Domain/obj/project.nuget.cache
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Application.dll
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Application.pdb
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Infrastructure.deps.json
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Infrastructure.dll
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Infrastructure.pdb
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Persistence.dll
src/DAM.Infrastructure/bin/Debug/netcoreapp3.1/DAM.Persistence.pdb
src/DAM.Infrastructure/obj/DAM.Infrastructure.csproj.nuget.dgspec.json
src/DAM.Infrastructure/obj/DAM.Infrastructure.csproj.nuget.g.props
src/DAM.Infrastructure/obj/DAM.Infrastructure.csproj.nuget.g.targets
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.AssemblyInfo.cs
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.AssemblyInfoInputs.cache
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.assets.cache
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.csproj.AssemblyReference.cache
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.csproj.CopyComplete
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.csproj.CoreCompileInputs.cache
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.csproj.FileListAbsolute.txt
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.dll
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/DAM.Infrastructure/obj/Debug/netcoreapp3.1/DAM.Infrastructure.pdb
src/DAM.Infrastructure/obj/project.assets.json
src/DAM.Infrastructure/obj/project.nuget.cache
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Domain.dll
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Domain.pdb
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Persistence.deps.json
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Persistence.dll
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Persistence.pdb
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Persistence.runtimeconfig.dev.json
src/DAM.Persistence/bin/Debug/netcoreapp3.1/DAM.Persistence.runtimeconfig.json
src/DAM.Persistence/obj/DAM.Persistence.csproj.nuget.dgspec.json
src/DAM.Persistence/obj/DAM.Persistence.csproj.nuget.g.props
src/DAM.Persistence/obj/DAM.Persistence.csproj.nuget.g.targets
src/DAM.Persistence/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.AssemblyInfo.cs
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.AssemblyInfoInputs.cache
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.assets.cache
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.csproj.AssemblyReference.cache
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.csproj.CopyComplete
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.csproj.CoreCompileInputs.cache
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.csproj.FileListAbsolute.txt
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.dll
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.GeneratedMSBuildEditorConfig.editorconfig
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.genruntimeconfig.cache
src/DAM.Persistence/obj/Debug/netcoreapp3.1/DAM.Persistence.pdb
src/DAM.Persistence/obj/project.assets.json
src/DAM.Persistence/obj/project.nuget.cache
src/DAM.Web.Authorization/obj/DAM.Web.Authorization.csproj.nuget.dgspec.json
src/DAM.Web.Authorization/obj/DAM.Web.Authorization.csproj.nuget.g.props
src/DAM.Web.Authorization/obj/DAM.Web.Authorization.csproj.nuget.g.targets
src/DAM.Web.Authorization/obj/project.assets.json
src/DAM.Web.Authorization/obj/project.nuget.cache
src/.vs/Simple_DAM/DesignTimeBuild/.dtbcache.v2
