@mixin button-span-margin {
	> span {
		margin-left: 8px;
	}

	span:first-child {
		margin-left: 0;
	}
}

button {
	&.ant-btn[disabled] {
		filter: grayscale(90%);
	}
	&.ant-btn {
		border-radius: 4px;
		&:not(.ant-btn-dangerous) {
			&:active,
			&:hover,
			&:focus {
				border-color: $secondary-btn;
				color: $secondary-btn;
			}

			&.ant-btn-primary {
				background: $secondary-btn;
				color: $secondary-btn-text;
				border-color: $secondary-btn;
				&:active,
				&:hover,
				&:focus {
					border-color: $secondary-btn-hover;
					background: $secondary-btn-hover;
					color: $secondary-btn-text;
				}

				&.ant-btn-background-ghost {
					border-color: $secondary-btn;
					color: $secondary-btn;
					&:active,
					&:hover,
					&:focus {
						border-color: $secondary-btn-hover;
						color: $secondary-btn-hover;
					}
				}
			}
			&.ant-btn-text {
				border-color: transparent;
				color: rgba(0, 0, 0, 0.85);
				&:active,
				&:hover,
				&:focus {
					border-color: transparent;
					color: rgba(0, 0, 0, 0.85);
				}
			}
			&.ant-btn-link {
				color: $secondary-btn;
				background: transparent;
				border-color: transparent;
				&:active,
				&:hover,
				&:focus {
					color: $secondary-btn-hover;
					background: transparent;
					border-color: transparent;
				}
			}
			@include button-span-margin;
		}
	}
}

a.ant-typography,
.ant-typography a {
	color: $secondary-btn;
	&:active,
	&:hover {
		color: $secondary-btn-hover;
	}
}
.ant-typography-expand,
.ant-typography-edit,
.ant-typography-copy {
	color: $secondary-btn;
	&:active,
	&:hover {
		color: $secondary-btn-hover;
	}
}
a {
	color: $secondary-btn;
	&:active,
	&:hover {
		color: $secondary-btn-hover;
	}
}
.ant-spin-dot-item {
	background-color: $secondary-btn;
}
.ant-spin-text {
	color: $secondary-btn;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
	color: $secondary-btn;
	border-bottom: 2 px solid $secondary-btn;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
	color: $secondary-btn;
}
.ant-menu-item-selected {
	color: $secondary-btn;
}
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover,
.ant-menu-item a:hover {
	color: $secondary-btn;
}
.ant-menu-submenu-selected {
	color: $secondary-btn;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
	border-right-color: $secondary-btn;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: $secondary-btn;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
	background: $secondary-btn;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-pagination-item-active {
	a {
		color: $secondary-btn;
	}
	color: $secondary-btn;
	border-color: $secondary-btn;
}

.ant-pagination-jump-prev,
.ant-pagination-jump-next {
	.ant-pagination-item-container .ant-pagination-item-link-icon {
		color: $secondary-btn;
	}
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
	color: $secondary-btn;
}
.ant-steps-item-finish .ant-steps-item-icon {
	border-color: $secondary-btn;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-process .ant-steps-item-icon {
	background-color: $secondary-btn;
	border-color: $secondary-btn;
	background: $secondary-btn;
}

.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
	stroke: $secondary-btn;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
	background: $secondary-btn;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
	background-color: $secondary-btn;
}

.ant-form-item-is-validating.ant-form-item-has-feedback .ant-form-item-children-icon {
	color: $secondary-btn;
}

.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
	color: $secondary-btn-hover;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
	border-color: $secondary-btn;
}

.ant-picker-cell-in-view.ant-picker-cell-selected,
.ant-picker-cell-in-view.ant-picker-cell-range-start,
.ant-picker-cell-in-view.ant-picker-cell-range-end {
	.ant-picker-cell-inner {
		background: $secondary-btn;
	}
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-tree-checkbox:hover .ant-tree-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner,
.ant-checkbox-checked::after,
.ant-checkbox-checked .ant-checkbox-inner,
.ant-tree-checkbox-checked::after,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner,
.ant-radio-checked::after,
.ant-radio-checked .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
	border-color: $secondary-btn;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-radio-inner::after,
.ant-checkbox-indeterminate .ant-checkbox-inner::after,
.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
	background-color: $secondary-btn;
}

.ant-slider-track {
	background-color: $secondary-btn-hover; // add a 900 teritary
}
.ant-slider:hover .ant-slider-track {
	background-color: $secondary-btn-hover;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.ant-slider-handle {
	border-color: $secondary-btn-hover;
}
.ant-slider-handle.ant-tooltip-open,
.ant-slider-handle:focus {
	border-color: $secondary-btn;
}
.ant-switch-checked {
	background-color: $secondary-btn;
}

.ant-picker-range .ant-picker-active-bar,
.ant-tabs-ink-bar {
	background-color: $secondary-btn;
}

.ant-tabs-tab:hover {
	color: $secondary-btn-hover;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
	color: $secondary-btn;
}
.ant-tabs-tab-btn,
.ant-tabs-tab-remove {
	&:active,
	&:hover,
	&:focus {
		color: $secondary-btn;
	}
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
	color: $secondary-btn;
}

.ant-timeline-item-head-blue {
	color: $secondary-btn;
	border-color: $secondary-btn;
}

.ant-progress-success-bg,
.ant-progress-bg {
	background-color: $secondary-btn;
}

.ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end),
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end),
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single,
.ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range),
tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child,
tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range),
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start,
tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child,
tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range),
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end {
	&::after {
		border-color: $secondary-btn;
	}
}

.ant-picker-header-view button:hover {
	color: $secondary-btn;
}
.ant-table-filter-trigger.active {
	color: $secondary-btn;
}

.ant-form-item-has-feedback.ant-form-item-has-success .ant-form-item-children-icon svg,
.ant-form-item-has-feedback.ant-form-item-has-warning .ant-form-item-children-icon svg,
.ant-form-item-has-feedback.ant-form-item-has-error .ant-form-item-children-icon svg,
.ant-form-item-has-feedback.ant-form-item-is-validating .ant-form-item-children-icon svg,
.ant-btn .anticon {
	position: inherit;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
	color: $secondary-btn;
}
.ant-select-tree-checkbox-wrapper:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox-input:focus + .ant-select-tree-checkbox-inner {
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
	background-color: $secondary-btn;
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox-intermediate .ant-select-tree-checkbox-inner::after {
	background-color: $secondary-btn;
}

.ant-select-tree-checkbox-checked::after {
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox.ant-select-tree-checkbox-indeterminate > .ant-select-tree-checkbox-inner:after {
	background-color: $secondary-btn;
}
.ant-select {
	color: hsla(var(--secondary-h), var(--secondary-s), 0%, 0.85);
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
	border-right-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: $secondary-btn;
	border-color: $secondary-btn;
	&:first-child {
		border-color: $secondary-btn;
	}
	&:active:hover {
		color: hsl(var(--secondary-h), var(--secondary-s), 63%);
		border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	}
	&::before {
		background-color: $secondary-btn;
	}
}
.ant-radio-button-wrapper:hover {
	color: $secondary-btn;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
	color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	&::before {
		background-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	}
}

.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected
	.ant-picker-calendar-date
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected:hover
	.ant-picker-calendar-date
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected
	.ant-picker-calendar-date-today
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected:hover
	.ant-picker-calendar-date-today
	.ant-picker-calendar-date-value {
	color: $secondary-btn;
}

.ant-select-tree-checkbox-wrapper:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox-input:focus + .ant-select-tree-checkbox-inner {
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
	background-color: $secondary-btn;
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox-intermediate .ant-select-tree-checkbox-inner::after {
	background-color: $secondary-btn;
}

.ant-select-tree-checkbox-checked::after {
	border-color: $secondary-btn;
}

.ant-select-tree-checkbox.ant-select-tree-checkbox-indeterminate > .ant-select-tree-checkbox-inner:after {
	background-color: $secondary-btn;
}
.ant-select {
	color: hsla(var(--secondary-h), var(--secondary-s), 0%, 0.85);
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
	border-right-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
}
// #1890ff
// #40a9ff

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: $secondary-btn;
	border-color: $secondary-btn;
	&:first-child {
		border-color: $secondary-btn;
	}
	&:active:hover {
		color: hsl(var(--secondary-h), var(--secondary-s), 63%);
		border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	}
	&::before {
		background-color: $secondary-btn;
	}
}
.ant-radio-button-wrapper:hover {
	color: $secondary-btn;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
	color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	&::before {
		background-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	}
}

.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected
	.ant-picker-calendar-date
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected:hover
	.ant-picker-calendar-date
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected
	.ant-picker-calendar-date-today
	.ant-picker-calendar-date-value,
.ant-picker-calendar-full
	.ant-picker-panel
	.ant-picker-cell-selected:hover
	.ant-picker-calendar-date-today
	.ant-picker-calendar-date-value {
	color: $secondary-btn;
}
//shadows

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within,
.ant-radio-button-wrapper:focus-within {
	box-shadow: none;
}

.ant-input-focused,
.ant-mentions-focused,
.ant-picker-focused {
	border-color: $secondary-btn;
	box-shadow: 0 0 0 2px hsla(var(--secondary-h), var(--secondary-s), 55%, 0.2);
}

.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected > a {
	color: $secondary-btn;
	background-color: hsl(var(--secondary-h), var(--secondary-s), 95%); // add 900 secondary
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: hsl(var(--secondary-h), var(--secondary-s), 95%); // add 900 secondary
	color: $secondary-btn;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-pagination-options-quick-jumper input:hover {
	border-color: $secondary-btn;
	box-shadow: 0 0 0 2px hsla(var(--secondary-h), var(--secondary-s), 55%, 0.2); //secondary color splited
}

.ant-input,
.ant-input,
.ant-input-number,
.ant-picker-input > input,
.ant-picker,
.ant-mentions {
	&:active,
	&:hover,
	&:focus {
		border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
		box-shadow: 0 0 0 2px hsla(var(--secondary-h), var(--secondary-s), 55%, 0.2); //secondary color splited
	}
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
	border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
}

.ant-select-focused:not(.ant-select-disabled).ant-select-multiple .ant-select-selector {
	border-color: hsl(var(--secondary-h), var(--secondary-s), 63%);
	box-shadow: 0 0 0 2px hsla(var(--secondary-h), var(--secondary-s), 55%, 0.2); //secondary color splited
}

//highlighters
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
	background: hsl(var(--secondary-h), var(--secondary-s), 98%); // add 100 teritiary
}

.ant-picker-date-panel
	.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
	.ant-picker-cell-inner::after,
.ant-picker-date-panel
	.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
	.ant-picker-cell-inner::after,
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
.ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
.ant-picker-panel
	> :not(.ant-picker-date-panel)
	.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
.ant-picker-panel
	> :not(.ant-picker-date-panel)
	.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
	background: hsl(var(--primary-h), var(--primary-s), var(--primary-l)); // add 200 teritiary
}
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
	background: hsl(var(--secondary-h), var(--secondary-s), 98%); // add 100 teritiary
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected,
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
	background-color: hsl(var(--secondary-h), var(--secondary-s), 95%);
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date,
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date,
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today,
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today {
	background: hsl(var(--secondary-h), var(--secondary-s), 95%);
}
